<%= image_tag('setouchi.jpg') %>
<br>
<p>Author: ムラケン</p>
<br>
<u><b><p>About Me</p></b></u>
社会人歴10年弱の瀬戸内出身のインフラエンジニア<br>
最近はクラウド的なことも多くやるようになりました<br>
趣味程度にはRuby on Railsも使えるようになりました<br>
現在は関東に住んでおりますがいつか瀬戸内に戻りたいです
<br>
<u><b><p>Archive</p></b></u>