<%#= image_tag(Picture.last.image.thumb) %>
<%= image_tag(Picture.find_by(image: 'aboutme.jpg').image.thumb) %>
<br>
<p>Author: ムラケン</p>
<br>
<u><b><p>About Me</p></b></u>
社会人歴10年弱のインフラエンジニア<br>
最近はクラウド的なことも多くやるようになりました<br>
趣味程度にはRuby on Railsも使えるようになりました<br>
<br>
<u><b><p>Archive</p></b></u>