<%= image_tag('setouchi.jpg', :size => "200x100") %>
<br><br>
<p><b>Author: ケンタロウ</b></p>
<br>
<p><%= link_to 'About Me' , blog_path(2) %></p>
瀬戸内海出身のアラサーエンジニアです
クラウド的な時代の技術を忘れないための
備忘録を書いていきたいと思います

■得意
・linux
・bash
・awk
・Ruby on Rails
<br><br>
<u><b><p>Archive</p></b></u>